<!-- HERO -->
<section class="hero">
  <div class="hero-text">
    <h1>Precisou.<br />Achou.</h1>
    <a routerLink="pageprocura" class="btn btn-entra">Encontre sua corrida!</a>
  </div>
  <div class="hero-image">
    <!-- imagem ilustrativa -->
    <img src="https://img.magnific.com/fotos-premium/uma-mulher-elegante-esta-abrindo-seu-carro-e-se-preparando-para-dirigi-lo_232070-14519.jpg?semt=ais_hybrid&w=740&q=80" alt="Imagem ilustrativa" />
  </div>
</section>

<!-- POR QUE ESCOLHER -->
<section class="porque">
  <h2>Por que escolher o Buzinô?</h2>
  <div class="cards">
    <div class="card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTh5_3rw72dAiuoHmGMmWtGhkcKgwYEvc5MetZWyKrUjw&s=10"
        alt="Ícone econômico"
      />
      <h3>ECONÔMICO</h3>
      <p>Viaje gratuitamente.</p>
    </div>
    <div class="card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTlAeHkCqFU6lioyLn4omYSXBgc_g2Wb7FWnLmGCilycw&s=10"
        alt="Ícone conforto"
      />
      <h3>CONFORTO</h3>
      <p>Escolha o carro de sua preferência dentre as opções.</p>
    </div>
    <div class="card">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf7Rqtl0V58N5t6d7b7EpHnwhHsy1OI4ikly-DqYUKTw&s=10"
        alt="Ícone confiável"
      />
      <h3>CONFIÁVEL</h3>
      <p>Perfis verificados e avaliações reais.</p>
    </div>
  </div>
</section>

<!-- COMO FUNCIONA -->
<section class="como-funciona">
  <h2 class="porque">Como funciona?</h2>
  <div class="passos">
    <div class="passo">
      <div class="numero">1</div>
      <h4>BUSQUE UMA CARONA</h4>
      <p>Informe a cidade de origem e destino, encontraremos as suas opções.</p>
    </div>
    <div class="passo">
      <div class="numero">2</div>
      <h4>ESCOLHA SUA CARONA</h4>
      <p>Escolha sua carona com base nos seus critérios!</p>
    </div>
    <div class="passo">
      <div class="numero">3</div>
      <h4>RESERVE SEU LUGAR</h4>
      <p>Faça a sua reserva e aguarde a confirmação!</p>
    </div>
    <div class="passo">
      <div class="numero">4</div>
      <h4>APROVEITE A VIAGEM</h4>
      <p>Carona aprovada? Buzinô? Viajou!</p>
    </div>
  </div>
</section>

<!-- AVALIAÇÕES -->
<section class="avaliacoes">
  <h2>Avaliações</h2>
  <div class="avaliacoes-linha">
    <div class="lista-avaliacoes">
      <div class="avaliacao">
        <img
          src="https://static.poder360.com.br/uploads/2021/08/Andressa-Urach.png"
          alt="Foto de Anna O."
        />
        <div>
          <h5>Anna O.</h5>
          <p>
            Graças ao site, eu encontrei uma carona que ajuda a me deslocar pelo menos uma vez no
            mês. Super recomendo!
          </p>
        </div>
      </div>
      <div class="avaliacao">
        <img
          src="https://s3.glbimg.com/v1/AUTH_e179b208e56946d3a19ef0cfac2dd20b/portal/static/uploads/2024/10/79037-gente-texto-especial-mulheres-impacto-social.jpg"
          alt="Foto de Breanne R."
        />
        <div>
          <h5>Breanne R.</h5>
          <p>O Buzinô me ajuda a economizar bastante no mês, e ainda consegui fazer uma amizade!</p>
        </div>
      </div>
      <div class="avaliacao">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlbGycd_s1KWXGtxZpQNm4OD2dGjDNJ60w7Ibe4gygAw&s=10"
          alt="Foto de Augusto C."
        />
        <div>
          <h5>Augusto C.</h5>
          <p>Ele me ajuda muito a identificar oportunidades para que eu possa economizar nas minhas viagens.</p>
        </div>
      </div>
    </div>
  </div>
</section>
