<section class="conteiner-minhas-caronas">
    <h2 style="text-align: left; font-family: poppins, sans-serif" class="titulo"> Caronas </h2>
    <div class="lista">
        @for (opcoes of opcoesService.minhasCaronas(); track opcoes.id) {
            <app-cardcaronas
              [opcoes]="opcoes"
              [modoVisualizacao]="true">
            </app-cardcaronas>
        } @empty {
            <p style="text-align: left; font-family: poppins, sans-serif;" >Você ainda não possui nenhuma carona.</p>
        }
    </div>
</section>