<main class="dashboard-container">
  <h1 class="page-title">Meus dados</h1>

   @if (usuario) {

    <div class="item-text">
      <strong>Nome:</strong>
      <br /><br />
      <span>{{ usuario.nome }}</span>
    </div>

    <div class="item-text">
      <strong>E-mail:</strong>
      <br /><br />
      <span>{{ usuario.email }}</span>
    </div>

    <div class="item-text">
      <strong>Idade:</strong>
      <br /><br />
      <span>{{ usuario.idade }} anos</span>
    </div>

    <div class="item-text">
      <strong>Idioma:</strong>
      <br /><br />
      <span>{{ idioma }}</span>
    </div>
    <div class="item-text">
    <strong> Endereço: </strong>
    <br /><br />
    <span> Adicione seu endereço </span>
  </div>
  }

  <div class="btn-sair">
    <button (click)="sair()">Sair da conta</button>
  </div>

  <div class="btn-voltar">
    <button (click)="voltarHome()">Voltar</button>
  </div>

</main>