<main class="dashboard-container">
  <h1 class="page-title">Meus dados</h1>

  <div class="item-text">
    <strong> Nome: </strong>
    <br /><br />
    <span> {{ nome() }}</span>
  </div>

  <div class="item-text">
    <strong> E-mail </strong>
    <br /><br />
    <span> {{ email() }} </span>
  </div>

  <div class="item-text">
    <strong> Idade </strong>
    <br /><br />
    <span> 28 anos </span>
  </div>

  <div class="item-text">
    <strong> Idioma </strong>
    <br /><br />
    <span> {{ idioma() }} </span>
  </div>

  <div class="item-text">
    <strong> Endereço </strong>
    <br /><br />
    <span> Tijuca, Rio de Janeiro - RJ </span>
  </div>

  <div class="personal-item">
    <div class="item-text">
      <strong> Senha </strong>
      <br /><br />
      <span> Última alteração: 9 de Setembro. </span>
    </div>
  </div>
</main>