/* Container principal da dashboard */
.dashboard-container {
  max-width: 1000px;
  margin: 60px auto 100px;
  padding: 0 40px;
}

/* Título "Meus dados" no canto esquerdo com mais espaço inferior */
.page-title {
  font-size: 1.8rem;
  color: #070707;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-align: left; /* Alinha o título à esquerda */
  margin-bottom: 40px; /* Aumenta o espaço entre o título e os blocos */
}

/* Blocos de informação com espaçamento ampliado entre si */
.item-text {
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
  box-shadow: 0.2 ease;
  display: flex;
  align-items: center;
  gap: 16px;
}
.item-text:hover {
  transform: translateY(-3px);
  background-color: #d4d4d4;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
