<footer class="footer">
  <div class="footer-col footer-sobre">
    <a routerLink="/" class="footer-logo">
      <h3>Buzinô</h3>
    </a>
    <p>O Buzinô conecta pessoas para viagens mais inteligentes, gratuitas e sustentáveis.</p>
  </div>

  <div class="footer-col">
    <h4>Navegação</h4>
    <ul>
      <li><a href="#">Como funciona</a></li>
      <li><a routerLink="pageprocura">Procurar carona</a></li>
      <li><a href="#">Sobre nós</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4>Ajuda</h4>
    <ul>
      <li><a href="#">Central de ajuda</a></li>
      <li><a href="#">Dicas de segurança</a></li>
      <li><a href="#">Termos de uso</a></li>
      <li><a href="#">Política de privacidade</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h4>Contato</h4>
    <ul>
      <li>contato@buzino.com</li>
      <li>(21) 00000-0000</li>
      <li>R. Marquês de Sapucaí, Santo Cristo, Rio de Janeiro - RJ</li>
    </ul>
  </div>
  <div class="footer-social">
    <a href="#"
      ><img
        src="https://i.pinimg.com/736x/df/c1/53/dfc1530703e0f92a713319ad9085cd2a.jpg"
        alt="Facebook"
    /></a>
    <a href="#"
      ><img
        src="https://thumb.wikimedia.org/wikipedia/commons/thumb/2/27/CIS-A2K_Instagram_Icon_%28Black%29.svg/250px-CIS-A2K_Instagram_Icon_%28Black%29.svg.png?utm_source=commons.wikimedia.org&utm_campaign=index&utm_content=thumbnail"
        alt="Instagram"
    /></a>
  </div>

  <hr class="footer-divider" />
  <div class="footer-bottom">
    <p>
      © 2026 Copyright - Todos os direitos reservados. Buzino Brasil Tecnologia LTDA - CNPJ:
      00.000.000/00010-00
    </p>
  </div>
</footer>
