* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #fff200;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.logo {
    font-size: 32px;
    font-weight: 800;
    color: #111111;
}
.nav a {
    text-decoration: none;
    color:#111111;
    font-weight: 500;
    margin-right: 20px;
}

.btn-cadastro {
    background-color: #111111;
    color: #f7f6f3;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 30px;
    font-size: 14px;
}

.hero {
    background-color: #fff200;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    min-height: 100vh;
}

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 40px;
  margin-top: -60px;

}

.hero-text h1 {
    font-size: 88px;
    font-weight: 800;
    line-height: 1.05;
    letter-spacing: -2px;
    color: #111111;
    margin: 0;
}

.btn-entra {
    display: inline-block;
    width: fit-content;
    background-color: #111111;
    color:#f9f9f8;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    padding: 16px 40px;
    border-radius: 30px;
}

.hero-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    width: 380px;
    height: 380px;
    margin-right: 150px;
    margin-top: -130px;
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
        text-align: center;
        gap: 32px;
        padding: 40px 24px;
    }

    .hero-text {
        align-items: center;
    }

    .hero-text h1 {
        font-size: 56px;
    }
}